* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
/* div:hover{
  transform: scale(1.4);
} */
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  width: 90%;
  margin: auto;
  max-width: 1100px;
}
.logo {
  font-size: 1.8rem;
  color: #333;
  font-weight: 800;
  text-transform: uppercase;
}
.logo img {
  height: 100%;
  object-fit: contain;
  object-position: center;
  max-height: 70px;
}
.search-box {
  width: 280px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(244, 225, 225);
  border-radius: 30px;
  padding: 0px 20px;
  margin-left: auto;
}
.search-box input {
  width: 95%;
  height: 100px;
  background: transparent;
  border: none;
  outline: none;
}
.search-box button {
  color: #333;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
.nav-btns {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-btns a {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: pink;
  color: black;
  font-size: 0.8rem;
  margin-left: 10px;
}
.nav-btns a {
  margin-top: 2px;
}

#main {
  max-width: 1200px;
  width: 90%;
  padding: 50px;
  border-radius: 30px;
  min-height: 500px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background-color: rgba(252, 227, 232, 0.77);
}
.main-img img {
  width: 100%;
  height: 100%;
  max-height: 400px;
  object-position: center;
  object-fit: contain;
}
.main-text {
  color: rgb(212, 39, 160);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.8rem;
  font-weight: 500;
}
.main-text h1 {
  font-size: 2.4rem;
  color: black;
  font-weight: 800;
}
.main-text h1 font {
  background-color: #fed2d1;
  padding: 0px 5px;
}
.main-text p {
  color: rgb(94, 88, 88);
  margin: 10px 0px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.main-text a {
  font-weight: 800;
  color: #333;
  border-bottom: 1px solid #646464;
  margin-top: 30px;
}
.product-grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
  max-width: 1200px;
  width: 90%;
  margin: 15px auto;
}
.product-grid-box {
  position: relative;
  height: 210px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
}
.product-grid-text {
  position: absolute;
  left: 14%;
  top: 50%;
  transform: translate(-14%, -50%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 150px;
}
.product-grid-box img {
  height: 100%;
  object-fit: cover;
  object-position: center right;
}
.product-grid-box1 {
  background-color: #dffbe2;
}
.product-grid-text span {
  columns: #5a5a5a;
  font-size: 0.8rem;
  font-weight: 500;
}
.product-grid-text a {
  font-weight: 600;
  color: #272727;
  margin-top: 10px;
}
.product-grid-text strong {
  color: #1d1d1d;
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 1.5rem;
}
.product-grid-box2 {
  background-color: #fbeae3;
}
.product-grid-box3 {
  background-color: #faf4e4;
}
#new-product {
  max-width: 1200px;
  width: 90%;
  margin: 50px auto;
}
.new-p-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  background-color: #fafafa;
  padding: 10px 20px;
  border-radius: 10px;
}
.new-p-heading h3 {
  font-size: 1.8rem;
  color: #1d1d1d;
  font-weight: 800;
}
.new-p-heading ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.new-p-heading li {
  padding: 2px 20px;
  border-radius: 4px;
  margin: 0px 3px;
  border-radius: 4px;
  color: #333;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
}
.new-p-heading li.active {
  background-color: #f4ad43;
}
.new-product-box {
  max-width: 100%;
  width: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  background-color: #ffff;
  padding: 10px;
  border: 1px solid #f1f1f1;
}
.new-product-img {
  width: 100%;
  height: 250px;
  padding: 20px;
  display: flex;
  margin: auto;
  position: relative;
}
.new-product-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  padding: 5px 20px;
}
.new-product-img span {
  position: absolute;
  left: 10px;
  top: 10px;
  background-color: #fed2d1;
  color: #333;
  padding: 3px 10px;
  font-weight: 600;
  border-radius: 4px;
  font-size: 0.8rem;
}
.new-product-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
}
.new-product-text span {
  color: #8b3d74;
  font-size: 1.4rem;
  font-weight: 500;
}
.new-product-text a {
  color: #1d1d1d;
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
}
.new-product-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
  margin-top: 20px;
}
.product-grid-half {
  max-width: 1200px;
  width: 90%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
  max-height: 300px;
}
.product-grid-half .product-grid-box1,
.product-grid-half .product-grid-box2,
.product-grid-half .product-grid-box3 {
  height: 100%;
}
.product-grid-half .product-grid-box1 {
  grid-row: 1/3;
  background-color: #fbeae3;
}
.product-grid-half .product-grid-box1 .product-grid-text {
  max-height: 220px;
}
.product-grid-half .product-grid-box1 .product-grid-text strong {
  font-size: 1.4rem;
  line-height: 1.8rem;
}

#popular-product {
  max-width: 1200px;
  width: 90%;
  margin: 50px auto;
}

.popular-heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fafafa;
  padding: 10px 20px;
  border-radius: 10px;
}
.popular-heading h3 {
  font-size: 1.8rem;
  color: #1d1d1d;
  font-weight: 800;
}
.popular-heading a {
  color: #5a5a5a;
  font-size: 0.9rem;
}
.popular-box {
  max-width: 100%;
  width: 1000%;
  display: grid;
  grid-template-columns: 100px 1fr;
}
.popular-box-img {
  width: 100%;
  height: 120px;
  background-color: #fff8f8;
  border-radius: 6px;
  padding: 10px;
}
.popular-box-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.popular-box-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 10px;
  width: 100%;
}
.popular-box-text .p-category {
  color: #8b3d74;
  font-size: 0.9rem;
  font-weight: 500;
}
.popular-box-text .p-prce {
  color: #1d1d1d;
  font-size: 1.4rem;
  font-weight: 500;
}
.popular-box-text .p-price del {
  color: #8b3d74;
  font-size: 1rem;
}

.popular-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  margin-top: 30px;
}

.partner {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 90%;
  margin: 50px auto;
}
.partner-heading h3 {
  font-size: 1.56rem;
  color: #202020;
  letter-spacing: 0.5px;
  font-weight: 700;
}
.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 40px;
  grid-gap: 15px;
}
.logo-container img {
  height: 50px;
  object-position: center;
  object-fit: contain;
  filter: grayscale(1);
  opacity: 0.3;
  transition: all ease 0.3s;
}
.logo-container img:hover {
  filter: grayscale(0);
  opacity: 1;
}

.product-grid-2 {
  max-width: 1200px;
  width: 90%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

footer {
  width: 100%;
  border-top: 1px solid #e9e9e9;
}
.footer-container {
  max-width: 1200px;
  width: 90%;
  margin: 0px auto;
  padding: 50px 0px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer-company-box {
  max-width: 330px;
}
.footer-company-box .footer-logo {
  font-size: 1.8rem;
  color: #333;
  text-transform: uppercase;
  font-weight: 800;
}
.footer-company-box p {
  color: #585858;
  font-size: 0.9rem;
  line-height: 1.4rem;
  margin: 5px 0px;
}
.footer-social {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.footer-social a {
  margin-top: 10px;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e9e9e9;
  /* color: #333; */
  font-size: 0.9rem;

}
.footer-social a:hover{
  box-shadow:0px 0px 2px 2px rgb(185, 184, 184);
  image-resolution: 2px;
  background-color: rgb(145, 143, 143);
  transform: scale(1.3);
  transition: ease-in-out 200ms;
  
}
.footer-social a fa-brands fa-facebook-f{
  color: red;
}


.footer-link-box strong {
  font-size: 1.2rem;
  color: #333;
  font-weight: 600;
}
.footer-link-box ul li a {
  color: #797979;
  display: flex;
  margin-bottom: 5px;
  font-weight: 500;
  transition: all ease 0.3s;
}
.footer-link-box ul li a:hover {
  color: #7b7a7a;

}
.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  grid-gap: 10px;
  border-top: 1px solid #e9e9e9;
  padding: 10px 0px;
  max-width: 1200px;
  width: 90%;
  margin: auto;
}
.footer-bottom span {
  color: #252525;
  font-size: 0.9rem;
}
@media (max-width: 1100px) {
  .footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
  }
  .new-product-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .product-grid-3 {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 1000px) {
  .footer-container {
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 1fr 200px;
    max-height: 100%;
  }
  .product-grid-half .product-grid-box1{
    grid-column: 1/3;
    grid-row: 1/2;
    height: 300px;
  }

}
@media (max-width:900px) {
    #main{
        display: flex;
        flex-direction: column-reverse;
    }
    .main-text{
        margin: 40px;
        margin-bottom: 10px;

    }
    .popular-container{
        grid-template-columns: 1fr 1fr;

    }
    .logo-container{
        margin: 20px;
        justify-content: space-between;
    }
    .logo-container img{
        height: 40px;
    }
    
}
@media (max-width:760px) {
    .navigation{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .search-box{
        grid-row:2/3;
        grid-column: 1/3;
        width: 100%;
        margin-top: 10px;
        border-radius: 4px;
    }
    .nav-btns{
        margin-left: auto;
    }
    .logo{
        height: 45px;
    }
    #main{
        padding: 20px;
    }
    .product-grid-3{
        grid-template-columns: 1fr;
    }
    .new-p-heading h3,
    .popular-heading h3,
    .partner-heading h3{
        font-size: 1.3rem;
    }
    .product-grid-half{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-auto-rows: auto;
    }
    .product-grid-half .product-grid-box1{
        grid-column: 1/2;
        height: auto;
    }
    .product-grid-half .product-grid-box1 .product-grid-text strong{
        font-size: 1.2rem;
    }
    .product-grid-2{
        grid-template-columns: 1fr;
    }
    
}

@media (max-width:600px) {
    .new-p-heading{
        flex-direction: column;
    }
    .new-p-heading ul{
        margin-top: 10px;
    }
    .new-product-container{
        grid-template-columns: 1fr 1fr;
    }
    .popular-container{
        grid-template-columns: 1fr;
    }
    .product-grid-box{
        padding: 20px 20px 0px 20px;
    }
    .product-grid-box img{
        height: 90%;
        width: 70%;
        object-position: bottom right;
        margin-top: auto;
        object-fit: contain;
    }
    .product-grid-half .product-grid-box1 .product-grid-text strong{
        font-size: 1rem;
        line-height: 1.2rem;
        max-width: 120px;
    }
    .footer-container{
        grid-template-columns: 1fr;
    }
    
}
@media (max-width:320px) {
    .new-product-container{
        grid-template-columns: 1fr;
    }
    
}